@model List<string>



@if (Model.Any())
{
    <h2>This is in the database</h2>
    <p>go on... have a look in your sql server!</p>
}
<ul>
    @foreach (var s in Model)
    {
        <li>@s</li>
    }
</ul>


@Html.ActionLink("Do it..", "AddStuff")